html {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

body {
    background: #f8e9ff;
}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

#login-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form {
    padding: 2vh 5vw;
    padding-top: 1vh;
    background-color: #001529;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30%;
}

#register-form {
    padding: 2vh 5vw;
    padding-top: 1vh;
    background-color: #001529;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 250px;
}

.snippet-card {
    text-align: center;
}

.snippet-code {
    text-align: start;
    border-radius: 2px;
    background: #f0f0f0;
}

.snippets {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ant-card-meta-title {
    padding-bottom: 20px;
}

.ant-card-body {
    padding: 13px;
}

.snippet-card {
    text-align: center;
    margin-top: 16px;
}

.snippet-container {
    text-align: center;
    margin: auto;
    width: 65vw;
    margin-top: 25px;
}